.banner {
  width: 100%;
  height: 10vh;
  border: 2px solid black;
  background: #6373ce;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  display: flex;
  top: 0;
  left: 0;
  position: fixed
}

.banner-typography {
  color: black;
  text-align: center;
}